//
// solana-variables.scss
// Use this to overwrite Bootstrap and Dashkit variables
//

// Example of a variable override to change Dashkit's background color
// Remove the "//" to comment it in and see it in action!
$body-bg: #f9fdfc !default;


$font-size-base: 1.125rem !default; // 18px
$font-size-sm: 1rem !default; // 16px
$font-size-lg: 1.25rem !default; // 20px

// Colors

$white: #ffffff !default;
$gray-100: #f9fdfc;
$gray-200: #f1f8f6;
$gray-300: #e5ebe9;
$gray-400: #c6e6de;
$gray-500: #abd5c6;
$gray-600: #86b8b6;
$gray-700: #698582;
$gray-800: #387462;
$gray-900: #1b4e3f;
$black: #232323;

$rainbow-1: #3DA8F5 !default;
$rainbow-2: #56D9FE !default;
$rainbow-3: #34B2C9 !default;
$rainbow-4: #1A6B85 !default;
$rainbow-5: #102A3E !default;

$primary: #3DA8F5 !default;
$primary-dark: #34B2C9 !default;
$success: #2BC4A0 !default;
$secondary: #34B2C9 !default;
$danger: #E63946 !default;
$warning: #B565C5 !default;
$info: #1A6B85 !default;
$light: #f9fbfd !default;
$dark: #102A3E !default;

$theme-colors: (
    'black': $black,
    'gray': $gray-900,
) !default;

$card-border-color: $gray-300 !default;
$input-group-addon-color: $gray-900 !default;
$navbar-light-active-color: $primary-dark;
$link-color: $primary-dark;

// Global

.display-2 {
    font-family: 'Nunito', sans-serif;
}

.text-rainbow {
    background: linear-gradient(0.3turn, $rainbow-1, $rainbow-2);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bg-rainbow {
    background: linear-gradient(0.3turn, $rainbow-1, $rainbow-2);
}

.bg-rainbow-1 {
    background: $rainbow-1;
}
.bg-rainbow-2 {
    background: $rainbow-2;
}
.bg-rainbow-3 {
    background: $rainbow-3;
}
.bg-rainbow-4 {
    background: $rainbow-4;
}
.bg-rainbow-5 {
    background: $rainbow-5;
}

.text-rainbow-1 {
    color: $rainbow-1;
}
.text-rainbow-2 {
    color: $rainbow-2;
}
.text-rainbow-3 {
    color: $rainbow-3;
}
.text-rainbow-4 {
    color: $rainbow-4;
}
.text-rainbow-5 {
    color: $rainbow-5;
}
