//
// solana-variables.scss
// Use this to overwrite Bootstrap and Dashkit variables
//

// Example of a variable override to change Dashkit's background color
// Remove the "//" to comment it in and see it in action!
$body-bg: #102A3E !default;

$black: #102A3E !default;
$white: #fff !default;
$gray-600: #1A6B85;
$gray-600-dark: #343a37 !default;
$gray-700-dark: #1C3A4D !default;
$gray-800-dark: #1C3A4D  !default;
$black-dark: #102A3E !default;
$input-placeholder-color: #ccc !default;

$primary: #3DA8F5 !default;
$success: #26e97e !default;
$warning: #B565C5 !default;
$card-border-color: #1C3A4D !default;

$card-outline-color: #243D52 !default;

$input-bg: transparent !default;
$input-border-color: $gray-600-dark !default;
$input-group-addon-color: $white !default;

$card-box-shadow: none;

$theme-colors: (
    'black': $black,
    'gray': $gray-600,
    'gray-dark': $gray-800-dark,
);
